@model DgrosStore.Models.Telephone
@{
    ViewBag.Title = "SaveTelephone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h2>@(Model.TelephoneId == 0 ? "Telefono" : "Editar Telefono")</h2>
    <div class="col-lg-4 d-flex justify-content-lg-end">
            @Html.ActionLink(" ", "ClientDetails", "Client", new { id = Model.ClientId }, new { @class = "btn btn-info my-2 fa fa-times" })
    </div>
</div>

@using (Html.BeginForm("Save", "Telephone", FormMethod.Post))
{
    <div class="form-group">
        <label for="telephone">Telefono</label>
        @Html.TextBoxFor(t => t.Number, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Number)
    </div>
    @Html.HiddenFor(t => t.ClientId)
    @Html.HiddenFor(t => t.TelephoneId)
    <button class="btn btn-primary">Guardar</button>
}