@model IEnumerable<DgrosStore.Models.Transaction>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Transacciones</h2>
<table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Accion</th>
                <th scope="col">Total</th>
                <th scope="col">Fecha_Realizacion</th>
                <th scope="col">Detalles</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in Model)
            {
            <tr>
                <th scope="row">@transaction.Id</th>
                <td>@transaction.Type</td>
                <td>@transaction.Total</td>
                <td>@transaction.ReleaseDate</td>
                <td>@Html.ActionLink("Detalles", "TransactionDetails", "Transactions", new { id = @transaction.Id }, null)</td>
            </tr>
            }
        </tbody>
    </table>


