@model IEnumerable<DgrosStore.Models.Product>
@{
    ViewBag.Title = "ProductByCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Productos</h2>
@if (Model.Count() > 0)
{
    var cont = 1;
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio Compra</th>
                <th scope="col">Precio Venta</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var product in Model)
            {

                <tr>
                    <th scope="row">@cont</th>
                    <td>@Html.ActionLink(product.Name, "ProductDetails", "Product", new { id = product.ProductId }, new { @style = "color:black" })</td>
                    <td>@product.ShoppingPrice$</td>
                    <td>@product.SellingPrice$</td>
                    <td>@product.Stock</td>
                    <td>
                        @Html.ActionLink(" ", "Edit", "Product", new { id = product.ProductId }, new { @class = "btn btn-warning btn-xs fa fa-edit" })
                        <button type="button" class="btn btn-danger btn-xs"><span class="fa fa-remove"></span></button>
                    </td>
                </tr>
                { cont++; }
            }
        </tbody>
    </table>
}
else
{
    <div class="jumbotron">
        <h1 class="text-center">No hay productos disponibles</h1>
    </div>
}