@model DgrosStore.Models.viewModels.IndexProductViewModel

<div class="row">
    <h2 class="col-lg-6">Productos</h2>
    <div class="col-lg-6 d-flex justify-content-lg-end">
        @Html.ActionLink(" ", "Create", "Product", null, new { @class = "btn btn-success btn-xs m-2 fa fa-plus" })
    </div>
</div>
@if (Model.Products.Count() > 0)
{
    var cont = 1;
    <table class="table table-hover table-responsive-md table-bordered ">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio Compra</th>
                <th scope="col">Precio Venta</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var product in Model.Products)
            {

                <tr>
                    <th scope="row">@cont</th>
                    <td>@Html.ActionLink(product.Name, "ProductDetails", "Product", new { id = product.ProductId }, new { @style = "color:black" })</td>
                    <td>@product.ShoppingPrice$</td>
                    <td>@product.SellingPrice$</td>
                    <td>@product.Stock</td>
                    <td class="m-2">
                        @Html.ActionLink(" ", "Edit", "Product", new { id = product.ProductId }, new { @class = "btn btn-warning btn-xs fa fa-edit" })
                        <button type="button" class="btn btn-danger btn-xs"><span class="fa fa-remove"></span></button>
                    </td>
                </tr>
                { cont++; }
            }
        </tbody>
    </table>
    <div class="paginationAlign ">
        @Html.Partial("_pagination", Model)
    </div>
}
else
{
    <div class="jumbotron">
        <h1 class="text-center">No hay productos disponibles</h1>
    </div>
}

